* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html, body {
  height: 100%;
  margin: 0;
  background: #f6f6f6 url("../pics/background.jpg") no-repeat top center; }

p, ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

button {
  padding: 0;
  border: none;
  background: none; }

input, select {
  outline: none; }

::-webkit-input-placeholder {
  font: 16px 'Open Sans', sans-serif;
  color: #fff; }

::-moz-placeholder {
  font: 16px 'Open Sans', sans-serif;
  color: #fff; }

::-ms-input-placeholder {
  font: 16px 'Open Sans', sans-serif;
  color: #fff; }

.container {
  position: relative;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px; }

header .header_cont {
  padding: 25px 0;
  overflow: hidden; }
  header .header_cont .logo {
    float: left; }
    header .header_cont .logo a {
      display: block;
      width: 260px;
      height: 138px;
      background: url("../pics/logo.png") no-repeat center; }
  header .header_cont .header_text {
    text-align: center;
    text-transform: uppercase;
    width: 260px;
    margin-left: 100px;
    float: left;
    font: 800 24px 'Open Sans', sans-serif;
    color: #2667a3; }
  header .header_cont .header_info {
    width: 435px;
    float: right;
    overflow: hidden; }
    header .header_cont .header_info .header_adres {
      position: relative;
      float: left;
      font: 600 16px 'Open Sans', sans-serif;
      color: #4e5f73;
      padding-left: 27px;
      margin-bottom: 20px; }
      header .header_cont .header_info .header_adres:after {
        position: absolute;
        content: '';
        width: 12px;
        height: 16px;
        background: url("../pics/pin.png") no-repeat center;
        left: 0px;
        top: 0; }
      header .header_cont .header_info .header_adres:before {
        position: absolute;
        content: '';
        background: #b3bbc4;
        width: 1px;
        height: -webkit-calc(100% - 22px);
        height: calc(100% - 22px);
        left: 6px;
        bottom: 0; }
    header .header_cont .header_info .header_phone {
      position: relative;
      width: 225px;
      float: left;
      padding-left: 27px; }
      header .header_cont .header_info .header_phone a {
        display: block;
        font: 600 16px 'Open Sans', sans-serif;
        color: #4e5f73;
        text-decoration: none; }
        header .header_cont .header_info .header_phone a:hover {
          text-decoration: underline; }
      header .header_cont .header_info .header_phone:after {
        position: absolute;
        content: '';
        width: 12px;
        height: 16px;
        background: url("../pics/iphone.png") no-repeat center;
        left: 0px;
        top: 0; }
      header .header_cont .header_info .header_phone:before {
        position: absolute;
        content: '';
        background: #b3bbc4;
        width: 1px;
        height: -webkit-calc(100% - 22px);
        height: calc(100% - 22px);
        left: 6px;
        bottom: 0; }
    header .header_cont .header_info .header_link {
      width: 180px;
      float: right; }
      header .header_cont .header_info .header_link a {
        display: block;
        text-align: center;
        margin-bottom: 10px;
        padding: 23px 0;
        text-decoration: none;
        text-transform: uppercase;
        font: 700 14px 'Open Sans', sans-serif;
        color: #fff;
        background: #9fc870; }
        header .header_cont .header_info .header_link a:hover {
          background: #b3bbc4; }

header .header_menu {
  background: #2667a3; }
  header .header_menu .menu {
    position: relative; }
    header .header_menu .menu .button {
      display: none;
      position: absolute;
      width: 40px;
      height: 40px;
      top: 10px;
      left: 15px; }
      header .header_menu .menu .button span {
        display: block;
        width: 100%;
        height: 3px;
        background: #fff;
        margin: 6px 0;
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s;
        -webkit-border-radius: 3px;
                border-radius: 3px; }
    header .header_menu .menu ul li {
      display: inline-block; }
      header .header_menu .menu ul li a {
        display: block;
        padding: 25px 15px;
        text-decoration: none;
        text-transform: uppercase;
        font: 700 14px 'Open Sans', sans-serif;
        color: #fff; }
        header .header_menu .menu ul li a:hover {
          background: #b3bbc4; }

.title {
  border-bottom: 1px solid #2667a3;
  padding-bottom: 5px; }
  .title span {
    position: relative;
    font: 600 30px 'Open Sans', sans-serif;
    color: #2667a3; }
    .title span:after {
      position: absolute;
      content: '';
      width: 100%;
      height: 3px;
      background: #2667a3;
      left: 0;
      bottom: -8px; }

.slide_1 {
  overflow: hidden; }

.about {
  position: relative;
  padding-bottom: 85px; }
  .about .about_cont {
    width: 450px;
    padding-top: 40px; }
    .about .about_cont p {
      padding: 20px 0 45px 0;
      font: 16px 'Open Sans', sans-serif;
      color: #4e5f73;
      line-height: 24px; }
    .about .about_cont a {
      border: 1px solid #2667a3;
      font: 14px 'Open Sans', sans-serif;
      color: #2667a3;
      text-decoration: none;
      padding: 10px 40px;
      background: rgba(255, 255, 255, 0.3);
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s; }
      .about .about_cont a:hover {
        background: white; }
  .about .map_img {
    position: absolute;
    top: 60px;
    right: -170px; }

.object {
  padding: 35px 0;
  overflow: hidden; }
  .object .object_title {
    width: 180px;
    border-right: 1px solid #3fa7b3;
    padding: 50px 0;
    font: 600 18px 'Open Sans', sans-serif;
    color: #3fa7b3;
    float: left; }
  .object .object_list {
    float: left;
    padding: 20px; }
    .object .object_list ul li {
      display: inline-block;
      vertical-align: top;
      width: 180px;
      padding: 0 10px 30px 10px; }
      .object .object_list ul li .object_list_img {
        position: relative;
        width: 100%;
        height: 90px;
        margin-bottom: 14px; }
        .object .object_list ul li .object_list_img img {
          position: absolute;
          bottom: 0;
          left: 50%;
          -webkit-transform: translateX(-50%);
              -ms-transform: translateX(-50%);
                  transform: translateX(-50%); }
      .object .object_list ul li a {
        display: block;
        text-align: center;
        font: 14px 'Open Sans', sans-serif;
        color: #4e5f73;
        text-decoration: none;
        text-transform: uppercase; }
        .object .object_list ul li a:hover {
          text-decoration: underline; }

.slide_3 {
  background: url("../pics/slide_3.jpg") no-repeat top center; }
  .slide_3 .order {
    padding-top: 40px; }
    .slide_3 .order .order_title {
      padding-bottom: 10px;
      font: 600 30px 'Open Sans', sans-serif;
      color: #2667a3; }
    .slide_3 .order .order_form {
      width: 760px;
      position: relative; }
      .slide_3 .order .order_form p {
        background: url("../pics/order_form.png") no-repeat center;
        width: 370px;
        padding: 30px 75px 30px 25px;
        font: 18px 'Open Sans', sans-serif;
        color: #fff;
        line-height: 32px;
        height: 380px; }
      .slide_3 .order .order_form form {
        position: absolute;
        width: 420px;
        right: 0;
        top: 0; }
        .slide_3 .order .order_form form input[type="text"] {
          width: 100%;
          margin-bottom: 12px;
          border: 1px solid #38a2ff;
          background: rgba(18, 48, 58, 0.8);
          padding: 13px 30px;
          font: 16px 'Open Sans', sans-serif;
          color: #fff; }
        .slide_3 .order .order_form form input[type="submit"] {
          padding: 18px;
          width: 240px;
          background: #9fc870;
          font: 700 18px 'Open Sans', sans-serif;
          color: #fff;
          border: none;
          text-transform: uppercase;
          -webkit-transition: .5s;
          -o-transition: .5s;
          transition: .5s;
          cursor: pointer; }
          .slide_3 .order .order_form form input[type="submit"]:hover {
            background: #b3bbc4; }
    .slide_3 .order > p {
      font: 14px 'Open Sans', sans-serif;
      color: #4e5f73;
      width: 320px;
      padding: 10px 0 30px 0; }

.slide_4 {
  background: url("../pics/slide_4.jpg") no-repeat center 80px; }
  .slide_4 .areas {
    position: relative; }
    .slide_4 .areas .areas_title {
      border-top: 1px solid #86ac5a;
      padding: 15px 0; }
      .slide_4 .areas .areas_title span {
        position: relative;
        font: 600 30px 'Open Sans', sans-serif;
        color: #86ac5a; }
        .slide_4 .areas .areas_title span:after {
          position: absolute;
          content: '';
          width: 100%;
          height: 3px;
          background: #86ac5a;
          left: 0;
          top: -15px; }
    .slide_4 .areas .areas_list {
      position: relative;
      padding-bottom: 135px; }
      .slide_4 .areas .areas_list ul li {
        position: relative;
        display: inline-block;
        width: 375px;
        height: 370px;
        background: url("../pics/areas_list_bg.png") no-repeat center; }
        .slide_4 .areas .areas_list ul li .areas_list_block {
          position: absolute;
          width: 100px; }
          .slide_4 .areas .areas_list ul li .areas_list_block span {
            display: block;
            font: 700 30px 'Open Sans Condensed', sans-serif;
            color: #86ac5a; }
          .slide_4 .areas .areas_list ul li .areas_list_block p {
            font: 14px 'Open Sans', sans-serif;
            color: #86ac5a; }
          .slide_4 .areas .areas_list ul li .areas_list_block:nth-child(1) {
            top: 30px;
            left: 140px; }
          .slide_4 .areas .areas_list ul li .areas_list_block:nth-child(2) {
            top: 110px;
            left: 260px; }
          .slide_4 .areas .areas_list ul li .areas_list_block:nth-child(3) {
            width: 130px;
            top: 255px;
            left: 195px; }
            .slide_4 .areas .areas_list ul li .areas_list_block:nth-child(3) span {
              float: left; }
            .slide_4 .areas .areas_list ul li .areas_list_block:nth-child(3) p {
              float: right;
              width: 90px; }
          .slide_4 .areas .areas_list ul li .areas_list_block:nth-child(4) {
            top: 230px;
            left: 90px; }
          .slide_4 .areas .areas_list ul li .areas_list_block:nth-child(5) {
            top: 110px;
            left: 25px; }
          .slide_4 .areas .areas_list ul li .areas_list_block:nth-child(6) {
            top: 175px;
            left: 128px;
            width: 115px; }
            .slide_4 .areas .areas_list ul li .areas_list_block:nth-child(6) p {
              color: #ffffff;
              text-align: center;
              font-size: 11px; }

.slide_5 {
  background: url("../pics/slide_5.png") no-repeat top center;
  position: relative;
  z-index: 2;
  margin-top: -100px;
  padding-top: 65px; }
  .slide_5 .why .why_title {
    font: 600 30px 'Open Sans', sans-serif;
    color: #fff; }
  .slide_5 .why ul {
    padding: 20px 0 50px; }
    .slide_5 .why ul li {
      vertical-align: top;
      width: 47%;
      display: inline-block;
      position: relative;
      border-top: 1px solid #98b7d4;
      margin-right: 10px;
      padding: 25px 25px 25px 80px;
      min-height: 115px; }
      .slide_5 .why ul li span {
        display: block;
        position: absolute;
        width: 49px;
        height: 62px;
        background: url("../pics/why_span.png") no-repeat center;
        text-align: center;
        padding-top: 5px;
        font: 600 30px 'Open Sans', sans-serif;
        color: #fff;
        top: -5px;
        left: 15px; }
      .slide_5 .why ul li p {
        font: 600 18px 'Open Sans', sans-serif;
        color: #fff; }

.client {
  padding: 65px 0 20px 0;
  overflow: hidden; }
  .client .client_block {
    width: 540px;
    float: left; }
    .client .client_block .client_cont {
      margin-top: 30px;
      border: 1px solid #2667a3; }
      .client .client_block .client_cont ul {
        padding: 15px;
        text-align: center;
        background: #ffffff; }
        .client .client_block .client_cont ul li {
          display: inline-block;
          width: 160px;
          height: 100px;
          position: relative; }
          .client .client_block .client_cont ul li a {
            display: block;
            width: 100%;
            height: 100%; }
            .client .client_block .client_cont ul li a img {
              position: absolute;
              left: 50%;
              top: 50%;
              -webkit-transform: translate(-50%, -50%);
                  -ms-transform: translate(-50%, -50%);
                      transform: translate(-50%, -50%); }
      .client .client_block .client_cont .client_cont_link {
        height: 50px;
        background: url("../pics/arrow_bot.png") no-repeat center; }
    .client .client_block .client_cont_order {
      padding: 40px 0; }
      .client .client_block .client_cont_order a {
        text-transform: uppercase;
        text-decoration: none;
        background: #9fc870;
        padding: 20px 40px;
        font: 18px 'Open Sans', sans-serif;
        color: #fff;
        letter-spacing: 7px; }
        .client .client_block .client_cont_order a:hover {
          background: #b3bbc4; }
  .client .license {
    width: 540px;
    float: right; }
    .client .license .license_list {
      padding-top: 30px; }
      .client .license .license_list li {
        display: inline-block;
        border: 1px solid #2667a3;
        margin-right: 10px; }
    .client .license .license_link {
      border-bottom: 1px solid #2667a3;
      padding: 20px; }
      .client .license .license_link a {
        font: 14px 'Open Sans', sans-serif;
        color: #2667a3; }
        .client .license .license_link a:hover {
          text-decoration: none; }

.project_cont {
  max-width: 900px;
  margin: 0 auto; }
  .project_cont .slider_project .project_list {
    overflow: hidden;
    padding: 30px 0 20px 0; }
    .project_cont .slider_project .project_list .project_list_block {
      float: left;
      padding: 0 50px 0 30px; }
      .project_cont .slider_project .project_list .project_list_block .project_list_title {
        position: relative;
        font: 14px 'Open Sans', sans-serif;
        color: #b3bbc4;
        letter-spacing: 6px;
        text-transform: uppercase;
        padding-bottom: 20px; }
      .project_cont .slider_project .project_list .project_list_block p {
        font: 600 16px 'Open Sans', sans-serif;
        color: #2667a3;
        width: 225px; }
      .project_cont .slider_project .project_list .project_list_block ul li {
        font: 14px 'Open Sans', sans-serif;
        color: #2667a3; }
  .project_cont .slider_project .slider_project_list ul.img li {
    display: inline-block;
    vertical-align: top;
    padding: 0 0 5px 0; }
    .project_cont .slider_project .slider_project_list ul.img li:nth-child(2), .project_cont .slider_project .slider_project_list ul.img li:nth-child(4) {
      float: right; }
    .project_cont .slider_project .slider_project_list ul.img li img {
      width: auto;
      height: 300px; }
  .project_cont .slider_project .owl-nav {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0; }
    .project_cont .slider_project .owl-nav div {
      position: absolute;
      width: 37px;
      height: 70px;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      left: -115px;
      background: url("../pics/prev.png") no-repeat center; }
      .project_cont .slider_project .owl-nav div:hover {
        background: url("../pics/prev-h.png") no-repeat center; }
      .project_cont .slider_project .owl-nav div.owl-next {
        background: url("../pics/next.png") no-repeat center;
        left: auto;
        right: -115px; }
        .project_cont .slider_project .owl-nav div.owl-next:hover {
          background: url("../pics/next-h.png") no-repeat center; }
  .project_cont .project_info {
    padding: 30px 0;
    overflow: hidden; }
    .project_cont .project_info .project_info_link {
      float: left; }
      .project_cont .project_info .project_info_link a {
        font: 14px 'Open Sans', sans-serif;
        color: #2667a3; }
        .project_cont .project_info .project_info_link a:hover {
          text-decoration: none; }
    .project_cont .project_info p {
      width: 595px;
      float: right;
      font: 16px 'Open Sans', sans-serif;
      color: #4e5f73; }

.news {
  padding: 30px 0;
  overflow: hidden; }
  .news .news_title {
    width: 180px;
    float: left; }
    .news .news_title span {
      display: block;
      font: 600 30px 'Open Sans', sans-serif;
      color: #2667a3;
      padding-bottom: 40px; }
    .news .news_title a {
      font: 14px 'Open Sans', sans-serif;
      color: #2667a3; }
      .news .news_title a:hover {
        text-decoration: none; }
  .news .news_cont {
    width: 480px;
    float: left;
    padding-left: 40px;
    border-left: 1px solid #2667a3; }
    .news .news_cont span {
      display: block;
      font: 600 16px 'Open Sans', sans-serif;
      color: #2667a3;
      padding-bottom: 15px; }
    .news .news_cont p {
      font: 16px 'Open Sans', sans-serif;
      color: #4e5f73;
      padding-bottom: 15px; }
    .news .news_cont a {
      font: 14px 'Open Sans', sans-serif;
      color: #2667a3; }
      .news .news_cont a:hover {
        text-decoration: none; }
  .news > img {
    float: right; }

.slide_map {
  position: relative; }
  .slide_map .map_cont {
    position: absolute;
    top: -10px;
    background: #2667a3;
    left: 0;
    height: 200px;
    width: -webkit-calc(50% + 570px);
    width: calc(50% + 570px); }
    .slide_map .map_cont .map_cont_block {
      width: 1140px;
      float: right;
      height: 210px;
      padding: 60px 0; }
      .slide_map .map_cont .map_cont_block div {
        display: table-cell;
        vertical-align: top;
        color: #fff;
        width: 25%; }
        .slide_map .map_cont .map_cont_block div.map_cont_title {
          font: 600 30px 'Open Sans', sans-serif;
          color: #fff;
          padding-right: 35px; }
          .slide_map .map_cont .map_cont_block div.map_cont_title span {
            display: block;
            padding-top: 10px; }
        .slide_map .map_cont .map_cont_block div.map_cont_adres {
          padding: 15px 20px 0;
          position: relative;
          font: 600 16px 'Open Sans', sans-serif;
          color: #fff; }
          .slide_map .map_cont .map_cont_block div.map_cont_adres:after {
            position: absolute;
            content: '';
            width: 12px;
            height: 16px;
            background: url("../pics/pin.png") no-repeat center;
            left: 0;
            top: 0; }
          .slide_map .map_cont .map_cont_block div.map_cont_adres:before {
            position: absolute;
            content: '';
            background: #fff;
            width: 1px;
            height: -webkit-calc(100% - 22px);
            height: calc(100% - 22px);
            left: 6px;
            bottom: 0; }
        .slide_map .map_cont .map_cont_block div.map_cont_phone {
          padding: 15px 20px 0;
          position: relative; }
          .slide_map .map_cont .map_cont_block div.map_cont_phone a {
            display: block;
            font: 600 16px 'Open Sans', sans-serif;
            color: #fff;
            text-decoration: none; }
            .slide_map .map_cont .map_cont_block div.map_cont_phone a:hover {
              text-decoration: underline; }
          .slide_map .map_cont .map_cont_block div.map_cont_phone:after {
            position: absolute;
            content: '';
            width: 12px;
            height: 16px;
            background: url("../pics/iphone.png") no-repeat center;
            left: 0;
            top: 0; }
          .slide_map .map_cont .map_cont_block div.map_cont_phone:before {
            position: absolute;
            content: '';
            background: #fff;
            width: 1px;
            height: -webkit-calc(100% - 22px);
            height: calc(100% - 22px);
            left: 6px;
            bottom: 0; }
        .slide_map .map_cont .map_cont_block div.map_cont_mail {
          padding: 15px 20px 0;
          position: relative; }
          .slide_map .map_cont .map_cont_block div.map_cont_mail a {
            display: block;
            font: 600 16px 'Open Sans', sans-serif;
            color: #fff;
            text-decoration: none; }
            .slide_map .map_cont .map_cont_block div.map_cont_mail a:hover {
              text-decoration: underline; }
          .slide_map .map_cont .map_cont_block div.map_cont_mail:after {
            position: absolute;
            content: '';
            width: 16px;
            height: 16px;
            background: url("../pics/envelope.png") no-repeat center;
            left: 0;
            top: 0; }
          .slide_map .map_cont .map_cont_block div.map_cont_mail:before {
            position: absolute;
            content: '';
            background: #fff;
            width: 1px;
            height: -webkit-calc(100% - 22px);
            height: calc(100% - 22px);
            left: 6px;
            bottom: 0; }
    .slide_map .map_cont .map_cont_link {
      position: absolute;
      right: 0;
      bottom: -85px;
      width: 390px; }
      .slide_map .map_cont .map_cont_link a {
        display: block;
        text-align: center;
        margin-bottom: 10px;
        padding: 20px 0;
        text-decoration: none;
        text-transform: uppercase;
        font: 18px 'Open Sans', sans-serif;
        color: #fff;
        background: #9fc870;
        letter-spacing: 7px; }
        .slide_map .map_cont .map_cont_link a:hover {
          background: #b3bbc4; }

footer {
  background: #b3bbc4; }
  footer .footer_cont {
    padding: 50px 0 70px 0;
    position: relative;
    overflow: hidden; }
    footer .footer_cont .footer_logo {
      width: 150px;
      float: left;
      position: relative;
      left: 7px; }
      footer .footer_cont .footer_logo a {
        display: block;
        width: 121px;
        height: 84px;
        background: url("../pics/footer_logo.png") no-repeat center; }
      footer .footer_cont .footer_logo p {
        padding: 15px 35px 0 0;
        text-align: right;
        font: 12px 'Open Sans', sans-serif;
        color: #fff;
        text-transform: uppercase; }
    footer .footer_cont .footer_menu {
      width: 800px;
      float: right;
      padding-top: 35px;
      overflow: hidden; }
      footer .footer_cont .footer_menu ul {
        width: 33%;
        float: left; }
        footer .footer_cont .footer_menu ul li {
          padding: 0 40px 20px 0; }
          footer .footer_cont .footer_menu ul li span {
            font: 600 16px 'Open Sans', sans-serif;
            color: #fff;
            text-transform: uppercase; }
          footer .footer_cont .footer_menu ul li a {
            font: 14px 'Open Sans', sans-serif;
            color: #fff;
            text-decoration: none; }
            footer .footer_cont .footer_menu ul li a:hover {
              text-decoration: underline; }
    footer .footer_cont .brevis {
      position: absolute;
      width: 120px;
      left: 0;
      bottom: 100px;
      text-align: right; }
      footer .footer_cont .brevis p {
        font: 12px 'Open Sans', sans-serif;
        color: #fff;
        text-transform: uppercase; }
        footer .footer_cont .brevis p a {
          color: #fff;
          text-decoration: none; }
          footer .footer_cont .brevis p a:hover {
            text-decoration: underline; }
